<div class="filter-container flex-column" [@filter]="showFilter$ | async">
  <ht-entity-search (onSearchQuery)="onQuery($event)"></ht-entity-search>
  <div class="dropdown" htDropdown>
    <button type="button" class="button dropdown-trigger flex-row row-gap-4">
      <span>Sorting</span>
      <ng-container *ngIf="ordering$ | async as ordering">
        <span>: {{ordering.string}}</span>
        <i [ngClass]="ordering.sign ? 'fa-arrow-up' : 'fa-arrow-down'" class="fa"></i>
      </ng-container>
      <!--<span *ngIf="ordering$ | async as ordering"></span>-->
      <!--<i class="fa fa-filter"></i>-->
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdown-keyboard-access">
      <div class="dropdown-content">
        <a class="dropdown-item" (click)="setOrdering(sort.value)" *ngFor="let sort of sortingLabels">{{sort.label}}</a>
      </div>
    </div>
  </div>
  <div class="dropdown is-hoverable">
    <button id="dropdown-keyboard-access" type="button" class="button flex-row row-gap-4">
      <span>Filters</span> <i class="fa fa-filter"></i>
    </button>
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdown-keyboard-access">
      <div class="dropdown-content">
        <a class="dropdown-item" (click)="setStatus(filter.values.toString(), $event)" *ngFor="let filter of statusFiltes">{{filter.label}}</a>
      </div>

    </div>
  </div>
  <div class="flex flex-row row-gap-4" *ngIf="query$">
    <div class="" *ngFor="let query of query$ | async as queries">
      <div class="tags has-addons">
        <div class="tag is-medium is-primary">{{query.label}}</div>
        <a (click)="clearQuery(query.key)" class="tag is-medium is-primary is-delete"></a>
      </div>
    </div>
  </div>
  <ht-date-range [isRight]="true"></ht-date-range>
  <div class="loading-bar" *ngIf="loading$ | async">
    <ht-loading-bar></ht-loading-bar>
  </div>
</div>


