<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a *ngIf="accountsUser$ | async as accountsUser; else demo" [routerLink]="[{outlets: {modal: ['test', 'account']}}]" class="navbar-item">{{accountsUser.email}}</a>
    <ng-template #demo>
      <a [routerLink]="['users']" class="navbar-item">Hypertrack Demo</a>
    </ng-template>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="memberships$ | async as memberships">
        <a class="navbar-link">
          Account
        </a>
        <div class="navbar-dropdown is-boxed memberships is-right">
          <a (click)="setMembership(membership)" class="navbar-item" *ngFor="let membership of memberships.results">
            {{membership.account.name}}
          </a>
        </div>
      </div>
      <a (click)="logout()"  *ngIf="accountsUser$ | async as accountsUser; else login" class="navbar-item">Logout</a>
      <ng-template #login>
        <a [routerLink]="[{ outlets: { modal: ['test', 'login'] } }]" class="navbar-item">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
