<div class="level">
  <div class="level-left">
    <div class="level-item is-size-5 has-text-grey" *ngIf="service.summary$ | async as summary">
      Total: {{summary.totalUsers}} actions
    </div>
  </div>
</div>
<ht-analytics-item-load [loading$]="service.client.loading$" [minHeight]="50">
  <ng-container *ngIf="service.summary$ | async as summary">
    <ht-users-summary [summary]="summary" [selectable]="false" [hideTotal]="true"></ht-users-summary>
  </ng-container>
</ht-analytics-item-load>

