//@import "../../styles/placeholder";
@import "../../styles/variables";

.card-action-clicked {
  //background: @ht-blue;
  color: white;
}
.card-action {
  font-size: 1.3em;
  //padding: 5px 24px;
  font-weight: bold;
  min-width: 46px;

}
.card-action.clickable {
  &:hover {
    background: #e6e6e6;
    //.card-action-clicked;
  }
}
