<div class="flex-column">
  <ht-users
    [selectedUserDataId]="selectedUserDataId$ | async"
    [selectedUserId]="selectedUserId$ | async"
    [loadingUserDataId]="loadingUserDataId$ | async"
    [loadingUserId]="loadingUserId$ | async"
    [hasMap]="hasMap"
    (onAction)="onAction($event)"
    (onSelectUser)="selectUserCard($event)"
    [users]="users$ | async"></ht-users>
  <ht-placeline-container [showUserCard]="false" *ngIf="(selectedUserId$ | async)"></ht-placeline-container>
  <!--<div *ngIf="(selectedUserId$ | async) && user$ | async as userData">-->
    <!--&lt;!&ndash;<ht-user-card [user]="userData"></ht-user-card>&ndash;&gt;-->
    <!--<ht-placeline [userData]="userData"></ht-placeline>-->
  <!--</div>-->
</div>
