<div class="tags">
  <span class="tag" *ngFor="let tag of service.tags">{{tag}}</span>
</div>
<div class="level">
  <div class="level-left">
    <div class="level-item has-text-weight-bold">
      {{service.title}}
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <ht-date-range [showSingleDay]="false" [dateRangeService$]="service.dateRangeService$"></ht-date-range>
    </div>
  </div>
</div>
<div class="chart-container">
  <div id="chart"></div>
  <div class="loading-page" *ngIf="service.client.loading$ | async">
    <div class="icon auto has-text-grey-light">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
  <div class="loading-page" *ngIf="noData">
    <div class="auto has-text-grey-light is-size-1">
      No Data
    </div>
  </div>
</div>
