<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li (click)="clearRootTree()" *ngIf="selectedGroup$ | async as selectedGroup; else root">
      <a>
        <span class="icon is-small"><i class="fa fa-home"></i></span>
        <span>{{selectedGroup.name}}</span>
      </a>
    </li>
    <ng-template #root>
      <li (click)="clearRootTree()">
        <a>
          <span class="icon is-small"><i class="fa fa-home"></i></span>
          <span>Root groups</span>
        </a>
      </li>
    </ng-template>
    <li [class.is-active]="l" *ngFor="let group of selectedGroups; let i = index; let l = last">
      <a (click)="selectGroupFromNav(group, i)">{{group.name}}</a>
    </li>
  </ul>
</nav>
<div class="container">


  <ng-template #notFound>
    <div>
      No Group found
    </div>
  </ng-template>
  <div class="flex-row wrap group-container" *ngIf="!error">
    <div class="flex-column group-container-list bar card-stack" *ngFor="let groups of groupsLevels; let i = index">
      <div class="text-center ht-level">
        <span class="">Level {{i + 1}}</span>
      </div>
      <div (click)="setGroup(group)" class="card card-clickable is-primary" [class.card-active]="selectedGroups[i] && selectedGroups[i].id == group.id" *ngFor="let group of groups">
        <div class="card-content is-primary flex-row">
          <div class="flex">
            {{group.name}}
          </div>
          <div (click)="selectGroup(group, i, $event)" class="button is-small is-primary">
            <div class="icon">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center msg bar" *ngIf="loading">
      Loading
    </h3>
    <h3 class="text-center msg bar" *ngIf="noChild">
      No sub-group
    </h3>
  </div>
</div>
