<div class="flex-row wrap group-container">
  <div class="flex-column group-container-list bar card-stack" *ngFor="let groups of groupsLevels; let i = index">
    <div class="text-center ht-level">
      <span class="">Level {{i + 1}}</span>
    </div>
    <div (click)="setGroup(group)" class="card card-clickable is-primary" [class.card-active]="selectedGroups[i] == group.id" *ngFor="let group of groups">
      <div class="card-content is-primary flex-row">
        <div class="flex">
          {{group.name}}
        </div>
        <div (click)="selectGroup(group, i, $event)" class="button is-small is-primary">
          <div class="icon">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center msg bar" *ngIf="loading">
    Loading
  </h3>
  <h3 class="text-center msg bar" *ngIf="noChild">
   No sub-group
  </h3>
</div>
