<div class="dropdown is-hoverable" [class.is-right]="isRight" *ngIf="dateRange$ | async as dateRange">
  <button type="button dropdown-trigger" class="button flex-row row-gap-4">
    {{dateRange}}
    <!--<span *ngIf="ordering$ | async as ordering"></span>-->
    <!--<i class="fa fa-filter"></i>-->
  </button>
  <div class="dropdown-menu dropdown-menu-right is-boxed">
    <div class="dropdown-content" role="menu" aria-labelledby="dropdown-keyboard-access">
      <a class="dropdown-item" [class.is-active]="date.isActive" (click)="setDateRange(date.range)" *ngFor="let date of dateRangeOptions$ | async">{{date.label}}</a>
    </div>
  </div>

</div>
