<!--<div class="control has-icons-right flex-row">-->
  <!--<input #query (input)="test(query.value)" (keydown.enter)="setSearch(query)" type="text" class="input" placeholder="Search {{entity}}">-->
  <!--<span class="icon is-right" (click)="setSearch(query)">-->
        <!--<i class="fa fa-search"></i>-->
      <!--</span>-->
<!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
<div class="field has-addons">
  <div class="control">
    <input #query (input)="test(query.value)" (keydown.enter)="setSearch(query)" type="text" class="input" placeholder="Search {{entity}}">
  </div>
  <div class="control">
    <a class="button">
      <i class="fa fa-search"></i>
    </a>
  </div>
</div>

