<div class="toolbar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">Tags:</div>
      <div class="level-item" *ngFor="let tag of analyticsItemsService.tags$ | async">
        <span class="tag clickable is-medium"
              (click)="analyticsItemsService.toggleTag(tag.key)"
              [class.is-primary]="tag.isActive">{{tag.key}}</span>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button" (click)="openConfig()">
        <span class="icon">
          <i class="fa fa-edit"></i>
        </span>
          <span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="columns is-multiline" *ngIf="analyticsItemsService.filteredItems$ | async as items">
    <div class="column" [ngClass]="item.className" *ngFor="let item of items">
      <div class="card card-content">
        <ht-analytics-tags [tags]="item.tags"></ht-analytics-tags>
        <ht-analytics-item [item]="item"></ht-analytics-item>
      </div>
    </div>
    <div class="column is-6 auto setup" *ngIf="items.length == 0">
      <div class="is-size-1">Add analytics views</div>
    </div>
    <div class="modal is-active" *ngIf="(items.length == 0) || configure">
      <div class="modal-background" (click)="configure = false"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Choose preset views</p>
        </header>
        <section class="modal-card-body">
          <ht-analytics-selector (selected)="configure = false"></ht-analytics-selector>
        </section>
      </div>
    </div>
  </div>
</div>

