<ht-users-map-container class="flex" [showSidebar]="true" [showAll]="false" [hasPlaceline]="true" [sidebarWidth]="370"></ht-users-map-container>

<!--<div class="container">-->
  <!--<div class="bar">-->
    <!--&lt;!&ndash;<ht-users-summary-container></ht-users-summary-container>&ndash;&gt;-->
    <!--&lt;!&ndash;<ht-placeline-container [userId]="userId"></ht-placeline-container>&ndash;&gt;-->
    <!--&lt;!&ndash;<ht-users-container [showActiveSummary]="false" [showStatusSummary]="false"></ht-users-container>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->

<!--<ht-map></ht-map>-->
<!--<ht-map-container></ht-map-container>-->
<!---->
<!--<ht-placeline-map-container class="flex" [showSidebar]="true" [userId]="userId"></ht-placeline-map-container>-->

<!--<h1>Test component working!</h1>-->
<!--<ht-dropdown>-->
  <!--<div>Dropdown</div>-->
  <!--<ht-dropdown-options>asdasd</ht-dropdown-options>-->
  <!--<ht-dropdown-options>dasdasd</ht-dropdown-options>-->
<!--</ht-dropdown>-->

<!--<button (click)="dispatchA()">A</button>-->
<!--<button (click)="dispatchB()">B</button>-->
