<ht-users-map-container apiType="analytics" [showSidebar]="true" [hasPlaceline]="true" [sidebarWidth]="370"></ht-users-map-container>

<!--<div class="container">-->
  <!--<div class="bar">-->
    <!--<ht-placeline-container [userId]="userId"></ht-placeline-container>-->
    <!--<ht-users-container apiType="analytics"></ht-users-container>-->
  <!--</div>-->
<!--</div>-->

<!--<ht-map></ht-map>-->
<!--<ht-map-container [apiType]="'index'"></ht-map-container>-->
<!---->
<!--<ht-placeline-map-container [showSidebar]="true" [userId]="userId"></ht-placeline-map-container>-->

<!--<h1>Test component working!</h1>-->
<!--<ht-dropdown>-->
  <!--<div>Dropdown</div>-->
  <!--<ht-dropdown-options>asdasd</ht-dropdown-options>-->
  <!--<ht-dropdown-options>dasdasd</ht-dropdown-options>-->
<!--</ht-dropdown>-->

<!--<button (click)="dispatchA()">A</button>-->
<!--<button (click)="dispatchB()">B</button>-->
