<div class="modal is-active">
  <div (click)="close()" class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <div (click)="setAccount(accountUser.default_account)" class="card card-content is-small is-centered card-clickable" *ngIf="accountUser$ | async as accountUser">
            <div class="level">
              <div class="level-left">
                <div class="level-item">{{accountUser.default_account.name}}</div>
              </div>
              <div class="level-right">
                <button class="button is-small">Set default account</button>
              </div>
            </div>
          </div>
          <ng-container *ngIf="filteredMemberhips$ | async as memberships; else loading">
            <div class="card card-content is-small">
              <input (input)="searchAccount(search)" #search type="text" placeholder="Search Accounts" class="input">
            </div>
            <div (click)="setMembership(membership)" class="card card-content is-small card-clickable" *ngFor="let membership of memberships">
              {{membership.account.name}}
            </div>
          </ng-container>

          <!--invite team member card-->
        </div>

        <!--<div class="column">Auto</div>-->
        <!--<div class="column">Auto</div>-->
      </div>
      <ng-template #loading>
        <div class="card card-content" >
          <span>loading...</span>
        </div>
      </ng-template>
    </section>
  </div>
</div>
