/* You can add global styles to this file, and also import other style files */
@import "./styles/global";
@import "./styles/variables";
@import "./styles/placeholder";

.m-marker {
  position: relative;
  font-size: 2.7em;
  width: 35px;
  text-align: center;
  color: #585858;
  .fa {
    font-size: 45px;
  }
}
.m-box {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #585858;
  border-radius: 50%;
  top: 0;
  //left: 2px;
  background-image: url('https://randomuser.me/api/portraits/men/81.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
