<div class="level">
  <div class="level-left">
    <div class="level-item">
      <ht-profile [url]="user.photo"></ht-profile>
    </div>
    <div class="level-item is-size-4 has-text-grey">
      {{user.name | nameCase}}
    </div>
  </div>
  <div class="level-right">
    <ng-content></ng-content>
  </div>
</div>
<ht-data-table [tableData]="tableData"></ht-data-table>
<!--<table class="table is-fullwidth is-bordered is-striped">-->
  <!--<tbody>-->
  <!--<tr *ngFor="let row of tableData">-->
    <!--<td *ngFor="let item of row">{{item}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

