<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="card card-content">

        <ht-actions-status-graph [service]="actionsStatusService"></ht-actions-status-graph>
      </div>

    </div>
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <ht-users-analytics-list [listService]="locationDisabledService"></ht-users-analytics-list>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="card card-content">
        <ht-users-analytics-list [listService]="stopDurationService"></ht-users-analytics-list>
      </div>
    </div>
    <div class="column is-half">
      <div class="card card-content">
        <ht-users-analytics-list [listService]="networkOfflineService"></ht-users-analytics-list>
      </div>
    </div>
    <div class="column is-half">
      <div class="card card-content">
        <ht-users-analytics-list [listService]="distance"></ht-users-analytics-list>
      </div>
    </div>
  </div>
</div>

